<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="LOG_PATH" source="logging.path"/>
    <springProperty name="LOG_FILE" source="logging.file.name"/>
    <springProperty name="SPRING_APPLICATION_NAME" source="spring.application.name"/>
    <springProperty name="SLACK_WEBHOOK_BASE_URL" source="webhook.slack.baseUrl"/>
    <springProperty name="SLACK_WEBHOOK_ENDPOINT" source="webhook.slack.endpoint"/>

    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} [%class{5} > %method:%line] : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="LOG_PATH" value="${LOG_PATH:-${user.home}/logs}"/>
    <property name="LOG_FILE" value="${LOG_FILE:-spring}"/>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/old/${LOG_FILE}-%d{yyyyMMdd-HH}.%i.log.gz</fileNamePattern>
            <maxHistory>720</maxHistory>
            <maxFileSize>300MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE_ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/old/${LOG_FILE}-error-%d{yyyyMMdd-HH}.%i.log.gz</fileNamePattern>
            <maxHistory>720</maxHistory>
            <maxFileSize>300MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_BASE_URL}${SLACK_WEBHOOK_ENDPOINT}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg\n%ex{0}</pattern>
        </layout>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="java.sql" level="INFO"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.wemakeprice" level="INFO"/>

    <root level="ERROR">
        <appender-ref ref="FILE_APPENDER"/>
        <appender-ref ref="FILE_ERROR_APPENDER"/>
        <appender-ref ref="ASYNC_SLACK"/>
    </root>

</configuration>